.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

#location-input {
  padding: 5px;
  font-size: 1rem;
}

#search-btn {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

#current-location {
  padding: 20px;
  margin-top: 60px; /* Adjust based on header height */
}

.weather-details {
  text-align: center;
}

.weather-details p, .weather-details h2 {
  margin: 5px 0;
}

#hour-section {
  padding: 20px;
}

.hourly-forecast {
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
}

.hour-block {
  text-align: center;
  min-width: 100px;
  margin: 10px;
}

#days-section {
  padding: 20px;
}

.daily-forecast {
  display: flex;
  justify-content: space-around;
}

.day-block {
  text-align: center;
  min-width: 100px;
  margin: 10px;
}

#overview {
  padding: 20px;
}

.overview-details {
  text-align: center;
}
